@use 'resets';
@use 'variables' as *;

.container{
    width: 393px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    row-gap: 30px;

        p{
            font-size: 16px;
            color: black;
            font-family: $font-opensans;
            text-decoration: none;
        }

        h1{
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 38px;
            
        }
   

    .logo-in-login-page{
    max-width: 100%;
    height: auto;
    margin-top: 80px;
    }

    header h1{
        margin-bottom: 50px;
    }

    .facebook-btn, .google-btn{
   background-color: white;
   width: 345px;
   border-radius: 40px;
   border: solid 2px lightgray;    
   padding: 1rem; 
   height: 62px;
   align-items: center;
   display: flex;
   
    }

        .container-with-facebook-google-btn{
      display: flex;
      flex-direction: column;
     margin: 0 auto;
     gap: 20px;
     
     
     a{
      text-decoration: none;
      justify-content: center;
      font-size: 18px;
     }
    }

   


    .sign-btn{
    background-color: #4D861F;
   width: 345px;
   height: 62px;
   display: flex;
   border-radius: 40px;
   border: solid 2px lightgray;    
   padding: 1rem; 
align-items: center;
   color: white;
   justify-content: center;
   font-size: 16px;
   box-shadow: 0 2px 10px rgba(77, 134, 31, 0.574);
 
   
    }

 
        .or{
        padding: .75em;
        }
     
        .line{
        width: 300px;
        margin: 2em auto;
        border-bottom: 1px solid #404040;
        line-height: 0.1em;
        }
     
        .or span {
        background: white;
        padding: 10px;
        color: #575757;
        }
}



.sign-in-box a{
color: #4D861F;
text-decoration: none;
width: 345px;
padding-left: 15px;
}

    p{
        font-size: 16px;
        
    }
    .container-with-switch {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%; 
        max-width: 393px;
        
    
      }


      .headline-with-pic h1{
        color: #4D861F;
        font-size: 32px;
    margin-top: 25px;
      }

        .headline-with-pic h2{
        color: #404040;
        font-size: 20px ;
        margin-top: 10px;
   
       
    
      }
      
      .sections-with-switch {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
        border-bottom: 1px solid #ccc;
        height: 72px;
      }

      .sections-with-switch:first-child{
        border-top: 1px solid #ccc;
      }
      
      .section-info {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      
      .section-info img {
        width: 18px;
        height: 26px;
        margin: 0 auto;
      
      }
      
      .section-info p {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
      }
      
      .switch-container {
        display: flex;
        align-items: center;
      }
      
      .switch {
        position: relative;
        display: inline-block;
        width: 58px;
        height: 32px;
      }
      
      .switch input {
        display: none;
      }
      
      .switch .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        border-radius: 34px;
        cursor: pointer;
        transition: 0.4s;
        
      }
      
      .switch .slider:before {
        position: absolute;
        content: "";
        height: 28px;
        width: 28px;
        left: 2px;
        bottom: 3px;
        background-color: #FFFFFF;
        border-radius: 50%;
        transition: 0.4s;
      }
      
      .switch input:checked + .slider {
        background-color: #4D861F;
      }
      
      .switch input:checked + .slider:before {
        transform: translateX(25px);
      }
      
      .footer {
        text-align: center;
        margin-top: 20px;
      }
      
      .dark-mode-btn {
        background-color: #ffffff;
        border: solid 1.5px;
        color: #4D861F;
        padding: 10px 15px;
        border-radius: 40px;
        cursor: pointer;
        width: 345px;
        height: 62px;
        font-size: 18px;
      }
      
    


      
      .footer p {
        margin-top: 10px;
        font-size: 12px;
        color: #D9D9D9;
      }

      nav {
        height: 90px;
        width: 393px;
        display: flex;
        margin: 0 auto;
        gap: 50px;
        align-items: center;
        justify-content: center;
        box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.066);
      }

     
 

    
/* Slideshow container */
.slideshow-container {
  max-width: 390px;
  position: relative;
  margin: auto;
  
}

.slideshow-container, h2, p{
  margin-top: 20px;
  text-align: center;
  
  h2{
    font-size: 32px;
  }

  p{
    font-size: 18px;
    margin-bottom: 10px;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 20px;
  margin-top: 20px;
}



.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.skip-and-continue-btn { 
display: flex;
align-items: center;
margin: 0 auto;
margin-top: 20px;
justify-content: center;
gap: 20px;




a{
width: 166px;
display: flex;
align-items: center;
height: 62px;
background-color: rgb(255, 255, 255);
justify-content: center;
text-decoration: none;
color: #4D861F;
font-size: 18px;
border-radius: 40px;
border: 1px solid #4D861F;

}


.slide-continue-btn{
  width: 166px;
  height: 62px;
  border-radius: 40px;
  border: 1px solid #4D861F;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4D861F;
  color: white;
  font-size: 18px;
  
}
}